@font-face {
    font-family: 'Allura';
    src: URL('../font/Allura-Regular.ttf') format('truetype');
}

body {
    background-color: #000000;
    font-family: helvetica;
}

.topbar {
    background-color: white;
    color: black;
    text-decoration: none;
}

.hero {
    height: 80px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Allura;
    background-color: white;
}

.title-nav {
    float: right;
}

.topnav {
  overflow: hidden;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  background-color: #e4e4e4;
}

.links {
    margin-left: 5px;
}

.search-container {
    margin-right: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff0000;
  color: white;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #3066cd;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #3066cd;
  color: white;
}

.centered-title {
    text-align: center;
    color: red;
}

.dish {
    text-align: center;
    border: 2px solid grey;
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.card-body {
    background-color: white;
}
